<div id = "ng-generic-id-basic-data-{{ random_number }}" class = "span12">
        <accordion close-others = "false">
            <accordion-group heading = "Basic identification data">
                <div id = "ng-generic-id-basic-data-basic-identification-data-{{ random_number }}">
                    <div class = "clearfix">
                        <div class = "span3">
                            <label for = "ng-generic-id-pid-{{ random_number }}">PID</label>
                            <input type = "text" id = "ng-generic-id-pid-{{ random_number }}" ng-model = "patient.pid"/>
                        </div>
                        <div class = "span3">
                            <label for = "ng-generic-id-unknown-identity-{{ random_number }}">Unknown identity</label>
                            <input type = "checkbox" id = "ng-generic-id-unknown-identity-{{ random_number }}" ng-model = "patient.unknown_identity"/>
                        </div>
                        <div class = "span3">
                            <label for = "ng-generic-id-death-indicator-{{ random_number }}">Death indicator</label>
                            <input type = "checkbox" id = "ng-generic-id-death-indicator-{{ random_number }}" ng-model = "patient.death_indicator"/>
                        </div>

                    </div>
                    <div class = "span3">
                        <label for = "ng-generic-id-name-{{ random_number }}">Name</label>
                        <input type = "text" id = "ng-generic-id-name-{{ random_number }}" ng-model = "patient.first_name"/>
                    </div>
                    <div class = "span3">
                        <label for = "ng-generic-id-last-name-{{ random_number }}">Last name</label>
                        <input type = "text" id = "ng-generic-id-last-name-{{ random_number }}" ng-model = "patient.last_name"/>
                    </div>
                    <div class = "span3">
                        <label for = "ng-generic-id-middle-name-{{ random_number }}">Middle name</label>
                        <input type = "text" id = "ng-generic-id-middle-name-{{ random_number }}" ng-model = "patient.middle_name"/>
                    </div>
                    <div class = "span3">
                        <label for = "ng-generic-id-mothers-name-{{ random_number }}">Mother's name</label>
                        <input type = "text" id = "ng-generic-id-mothers-name-{{ random_number }}" ng-model = "patient.mothers_name"/>
                    </div>
                    <div class = "span3">
                        <label for = "ng-generic-id-fathers-name-{{ random_number }}">Father's name</label>
                        <input type = "text" id = "ng-generic-id-fathers-name-{{ random_number }}" ng-model = "patient.fathers_name"/>
                    </div>
                    <div class = "span3">
                        <label for = "ng-generic-id-maiden-name-{{ random_number }}">Maiden's name</label>
                        <input type = "text" id = "ng-generic-id-maiden-name-{{ random_number }}" ng-model = "patient.maiden_name"/>
                    </div>
                    <div class = "span3">
                        <label for = "ng-generic-id-birth-date-{{ random_number }}">Birth date</label>
                        <input type = "text" id = "ng-generic-id-birth-date-{{ random_number }}" ng-model = "patient.birth_date"/>
                    </div>
                    <div class = "span3">
                        <label for = "ng-generic-id-birth-place-{{ random_number }}">Birth place</label>
                        <input type = "text" id = "ng-generic-id-birth-place-{{ random_number }}" ng-model = "patient.birth_place"/>
                    </div>
                    <div class = "span3">
                        <label for = "ng-generic-id-weight-{{ random_number }}">Weight</label>
                        <input type = "text" id = "ng-generic-id-weight-{{ random_number }}" ng-model = "patient.weight"/>
                    </div>
                    <div class = "span3">
                        <label for = "ng-generic-id-height-{{ random_number }}">Height</label>
                        <input type = "text" id = "ng-generic-id-height-{{ random_number }}" ng-model = "patient.height"/>
                    </div>
                    <div class = "span3">
                        <label for = "ng-generic-id-blood-type-{{ random_number }}">Blood type</label>
                        <input type = "text" id = "ng-generic-id-blood-type-{{ random_number }}" ng-model = "patient.blood_type"/>
                    </div>
                    <div class = "span3">
                        <label for = "ng-generic-id-sex-{{ random_number }}">Sex</label>
                        <input type = "text" id = "ng-generic-id-sex-{{ random_number }}" ng-model = "patient.sex"/>
                    </div>
                    <div class = "span3">
                        <label for = "ng-generic-id-death-date-{{ random_number }}">Death date</label>
                        <input type = "text" id = "ng-generic-id-death-date-{{ random_number }}" ng-model = "patient.death_date"/>
                    </div>

                </div>
            </accordion-group>
            <accordion-group heading = "Extended identification data">
                <div class = "span3">
                    <label for = "ng-generic-id-native-language-{{ random_number }}" >Native language</label >
                    <input type = "text" id = "ng-generic-id-native-language-{{ random_number }}" ng-model="patient.native_language"/>
                </div>
                <div class = "span3">
                    <label for = "ng-generic-id-nationality-{{ random_number }}" >Nationality</label >
                    <input type = "text" id = "ng-generic-id-nationality-{{ random_number }}" ng-model="patient.nationality"/>
                </div>
                <div class = "span3">
                    <label for = "ng-generic-id-martial-status-{{ random_number }}" >Martial status</label >
                    <input type = "text" id = "ng-generic-id-martial-status-{{ random_number }}" ng-model="patient.marital_status"/>
                </div>
                <div class = "span3">
                    <label for = "ng-generic-id-country-of-residence-{{ random_number }}" >Country of residence</label >
                    <input type = "text" id = "ng-generic-id-country-of-residence-{{ random_number }}" ng-model="patient.country_of_residence"/>
                </div>
                <div class = "span3">
                    <label for = "ng-generic-id-educational-status-{{ random_number }}" >Educational status</label >
                    <input type = "text" id = "ng-generic-id-educational-status-{{ random_number }}" ng-model="patient.educational_status"/>
                </div>
                <div class = "span3">
                    <label for = "ng-generic-id-has-children-{{ random_number }}" >Has children</label >
                    <input type = "checkbox" id = "ng-generic-id-has-children-{{ random_number }}" ng-model="patient.has_children"/>
                </div>



            </accordion-group>


        </accordion>
        <button class = "btn btn-success" ng-click = "save_changes(Ni);"> Save changes</button>
</div>