<!--
    Controller : dashboard_controller
    Controller url : js/controllers/dashboard.js
    Controller dependency: controllers.js

    -------------------------------------
    $scope :
    {
        dashboard = {
            id,
            signal_interpretation,
            patient_interpretation
         }
    }
-->
<div ng-include src="'templates/partial/header.html'"></div>
<div id = "{{ dashboard.id }}" class = "container" style = "width: 960px" >
    <div id = "ng-generic-id-signal-interpretation-{{ random_number }}" ng-controller = "dashboard_signal_interpretation" class = "span6">

        <!-- Controller : dashboard_signal_interpretation.js -->

        <a href = "#/signal_interpretation" >
            <div class = "well text-center">
                <h3>Signal interpretation</h3>
            </div>
        </a >
        <div id = "ng-generic-id-recent-recordings-{{ random_number }}">
            <ul>
                <h3>Recent recordings</h3>
                <li ng-repeat="record in recordings">
                    <p>{{ record.patient_pid }}</p>
                    <p>Additional info</p>
                    <a href = ""  class = "btn-small btn-info">view recording</a >
                </li>
            </ul>



        </div>

    </div>
    <div id = "ng-generic-id-patient-administration-{{ random_number }}" ng-controller = "dashboard_patient_administration" class = "span6">

        <!-- Controller : dashboard_patient_administration.js -->

        <a href = "#/patient_administration" ><div class = "well text-center" >
            <h3>Patient administration</h3>
        </div></a >

        <div id = "ng-generic-id-recent-messages{{ random_number }}">
            <ul>
                <h3>Recent messages</h3>
                <li ng-repeat="message in messages">
                    <p>Patient: {{ message.from }}</p>
                    <p>{{ message.subject }}</p>
                </li>
            </ul>
        </div>


    </div>
</div>
<div ng-include src = "'templates/partial/footer.html'"></div>
