<div ng-include src="'templates/partial/header.html'"></div>
<div class = "container">
    <h2>Patient administration - Patient health record search</h2>
    <div ng-include src ="'templates/partial/patient administration search/search_form.html'"></div>
</div>
<hr>
<div class = "container">
    <div ng-include src ="'templates/partial/patient administration search/search_results.html'"></div>

</div>
<div ng-include src="'templates/partial/footer.html'"></div>