<div id = "ng-generic-id-add-{{ random_number }}" class = "container">
    <div ng-include src = "'templates/partial/patient administration card/basic_data.html'"></div>
    <a class = "btn btn-success" ng-click = "save_patient()" href ='#/patient_administration' >Save patient</a>
</div>