<div ng-include src = "'templates/partial/header.html'"></div>
<div id = "ng-generic-id-content-{{ random_number }}" class = "container span12">
    <div id = "ng-generic-id-menu-{{ random_number }}" class = "span4">
        <ul>
            <li ng-repeat = "item in menu_items" >
                <div id ="ng-generic-id-menu-item-{{ $index }}" ng-click = "changeContent(item.template, Ni)">
                    {{ item.title }}
                </div>
            </li>
        </ul>
    </div>
    <form name = "Ni">
        <div ng-include src = "inner_template" class = "span7">
            <!-- template content -->
        </div>
        <a href = "" class = "btn btn-danger" ng-click = "remove_patient();" >Remove patient</a >
    </form>




</div>
<div ng-include src = "'templates/partial/footer.html'"></div>