<div>
    <h3>Quick patient search <a href = "" ><small>Advanced search</small></a> </h3>
</div>
<form id= "{{ id }}" class = "span12">

    <div class = "span3">
        <label for = "ng-generic-id-pid{{ random_number }}" >PID</label >
        <input type = "text" id = "ng-generic-id-pid{{ random_number }}" ng-model = "patient.pid"/>
    </div>
    <div class = "span3">
        <label for = "ng-generic-id-id-type-{{ random_number }}" >ID type</label >
        <input type = "text" id = "ng-generic-id-id-type-{{ random_number }}" ng-model = "patient.id_type"/>
    </div>
    <div class = "span3">
        <label for = "ng-generic-id-id-value-{{ random_number }}" >ID value</label >
        <input type = "text" id = "ng-generic-id-id-value-{{ random_number }}" ng-model = "patient.id_value" />
    </div>
    <div class = "span3">
        <label for = "ng-generic-id-name-{{ random_number }}" >Name</label >
        <input type = "text" id = "ng-generic-id-name-{{ random_number }}" ng-model = "patient.name"/>
    </div>
    <div class = "span3">
        <label for = "ng-generic-id-family-name-{{ random_number }}" >Family name</label >
        <input type = "text" id = "ng-generic-id-family-name-{{ random_number }}" ng-model = "patient.family_name"/>
    </div>
    <div class = "span3">
        <label for = "ng-generic-id-birth-date-{{ random_number }}" >Birth date</label >
        <input type = "text" id = "ng-generic-id-birth-date-{{ random_number }}" ng-model = "patient.birth_date"/>
    </div>
</form>
<div class = "row">
    <a id = "ng-generic-id-search-button-{{ random_number }}" class = "btn">Search</a>
    <a id = "ng-generic-id-clear-butotn-{{ random_number }}" class = "btn btn-inverse">Clear</a>
    <a  href = "#/patient_administration/add" id = "ng-generic-id-add-new-patient-{{ random_number }}" class = "btn btn-success pull-right">Add new patient</a>
</div>
