<div class = "span12">
    <h3>Search results</h3>
    <table class = "table table-hover">
        <thead>
            <tr class = "text-center">
                <th>Patient ID</th>
                <th>Age</th>
                <th>Last recording</th>
                <th>Birth date</th>
                <th>Additional comments</th>
            </tr>
        </thead>
        <tbody>

                <tr ng-repeat = "p in patients">
                        <td>{{ p.pid }}</td>
                        <td>{{ p.age }}</td>
                        <td>{{ p.last_recording }}</td>
                        <td>{{ p.birth_date }}</td>
                        <td>{{ p.additional_comments }}</td>
                        <td><a ng-click = "setPatient(p.id)" href = "#/patient_administration/view/{{ $index }}">View</a></td>
                </tr>

        </tbody>
    </table>

    <button ng-class = "{disabled: hasPrevious==null}" class = 'btn btn-info' ng-click="previous()">Previous</button>
    <button ng-class = "{disabled: hasNext==null }" class ='btn btn-info' ng-click = "next()">Next</button>

</div>
